.produto-container {
    display: flex;
    padding: 0;
    margin: 0;
    height: 60vh;
}

.produto-imagem {
    width: 300px;
    height: auto;
    margin: 20px 100px;
}

.produto-descricao {
    font-size: 16px;
    margin: 55px 0;
}

.produto-descricao p{
    font-size: 24px;
    font-weight: bold;
}

h2 {
    margin: 10px 0;
    font-weight: 500;
}

.produto-tamanhos {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.tamanho-item {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.tamanho-item:active {
    background-color: #000000;
    color: white;
}

.tamanho-item:hover {
    background-color: #000000;
    color: white;
}

.add-carrinho {
    width: 220px;
    background-color: #000;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.1s ease;
}

.add-carrinho:active {
    transform: scale(0.95);  /* Efeito de "apertar" o botão */
    background-color: #0a0a0a;
}

@media (max-width: 660px) {
    .produto-container {
        flex-direction: column;
        align-items: center;
    }
    .produto-imagem {
        width: 240px;
        margin: 0;
    }

    .produto-tamanhos {
        margin: 10px 0;
        justify-content: space-between;
    }

    .produto-descricao {
        margin: 0;
        font-size: 14px;
        text-align: center;
    }
    .add-carrinho{
        margin: 0;
    }
}