.produto-container {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.produto-imagem {
    width: 300px;
    margin: 20px 100px;
}

.produto-descricao {
    font-size: 16px;
    margin: 55px 0;
}

.produto-descricao p {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    margin: 10px 0;
    font-weight: 500;
}

.produto-tamanhos {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.tamanho-item {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.tamanho-item:active {
    background-color: #a2a2a4;
    color: white;
}

.tamanho-item:hover {
    background-color: #a2a2a4;
    color: rgb(0, 0, 0);
}

.tamanho-item.selected {
    background-color: #000000;
    color: white;
}

.add-carrinho {
    width: 220px;
    background-color: #000;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.1s ease;
}

.add-carrinho:active {
    transform: scale(0.95);
    background-color: #0a0a0a;
}

@media (max-width: 660px) {
    .produto-container {
        flex-direction: column;
        align-items: center;
    }

    .produto-imagem {
        width: 240px;
        margin: 0;
    }

    .produto-tamanhos {
        margin: 10px 0;
        justify-content: space-between;
    }

    .produto-descricao {
        margin: 0;
        font-size: 14px;
        text-align: center;
    }

    .add-carrinho {
        margin: 0;
    }

    /* Esconde o popup no mobile por padrão */
    .carrinho_popup {
        display: none;
    }
}

/* ------------- CARRINHO ---------------- */

.carrinho_popup {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    padding: 15px;
    background-color: #fff;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    flex-direction: column;
    align-items: start;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.header_carrinho {
    border-bottom: solid 1px lightgray;
    width: 100%
  }
.carrinho_popup.hide {
    opacity: 0;
    pointer-events: none;
}

.carrinho_popup .header_carrinho {
    font-size: 18px;
    margin-bottom: 10px;
}

.carrinho_popup .popup-divider {
    width: 100%;
    border-top: 1px solid #ffffff;
    margin: 10px 0;
}

.carrinho_popup .descricao_popup {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.carrinho_popup .imagem_popup {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
}

.carrinho_popup .class-descricao {
    text-align: left;
    font-size: 14px;
}

.carrinho_popup .popup-actions {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.cart-botton {
    background: #000;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.cart-botton:hover {
    background-color: #444;
}

/* -------------- Mobile ---------------- */

@media (max-width: 660px) {
    .produto-container {
        flex-direction: column;
        align-items: center;
    }

    .produto-imagem {
        width: 240px;
        margin: 0;
    }

    .produto-tamanhos {
        margin: 10px 0;
        justify-content: space-between;
    }

    .produto-descricao {
        margin: 0;
        font-size: 14px;
        text-align: center;
    }

    .add-carrinho {
        margin: 0;
    }

    .carrinho_popup .popup-actions {
        display: none;
    }
}

/* -------------- Desktop ---------------- */
@media (min-width: 768px) {
    .produto-container {
        flex-direction: row;
    }

    .carrinho_popup {
        display: flex;
    }
}

.product-item {
    box-shadow: 0px 10px 42px -27px rgba(54, 54, 54, 0.4);
    border-radius: 12px;
    padding: 10px;
    border: solid 1px #f7f7f7;
}

.product-item:hover {
    transform: scale(103%);
}

.product-item {
    transition: 0.2s ease;
}