* {
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden; /* Evita rolagem lateral */
    /* touch-action: none; Impede movimento ao arrastar */
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    margin-bottom: -1px;
    width: 100%; 
    height: 50px;
    background-color: black; 
    display: flex;
    justify-content: space-around; 
    align-items: center; 

}

@media (min-width: 650px) {
    .bottom-menu {
        display: none; 
    }
}

.menu-option {
    width: 70px; 
    height: 40px; 
    background-color: black; 
    color: white; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 50px;
    transition: background-color 0.3s; 
}

.menu-option:hover {
    background-color: white; 
    color: black; 
}

.menu-icon {
    height: 30px;
    margin-right: 5px; 
    object-fit: contain; 
    transition: filter 0.3s; 
}

.menu-option:hover .menu-icon {
    filter: invert(1);
}