.navigation-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.box-menu {
    display: flex;
    justify-content: center;
    width: 60%;
    padding-top: 2em;
}

.box-menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.box-menu li {
    font-weight: 600;
    font-size: clamp(1.4em, 2vw, 1.8em);
    position: relative;
    padding: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.box-menu a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease, background 0.3s ease;
}


@media (max-width: 650px) {
    .box-menu {
        width: 90%;
    }

    .box-menu ul {
        justify-content: space-around;
    }

    .box-menu li {
        font-size: clamp(16px, 3vw, 20px);
        padding: 0;
    }
}


#boxMenu ul li a {
    position: relative;
    color: #444;
}

#boxMenu ul li a:hover {
    transition: color 0.5s ease !important;
    color: black !important;
}

#boxMenu ul li a:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#boxMenu ul li a:hover::before {
    transform: scaleX(1);
}

#boxMenu ul li a:focus::before {
    transform: scaleX(1);
    color: black !important;
}
#boxMenu ul li a:focus {
    color: black !important;
}