.navigation-box {
    display: flex;
    justify-content: center;
    width: 100%;
}
.box-menu {
    display: flex;
    justify-content: center;
    width: 70%;
    padding-top: 10px;
}
.box-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 5%;
}
.box-menu li {
    font-size: clamp(22px, 2vw, 28px);
    position: relative;
    padding: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.box-menu a {
    text-decoration: none;
    color: #000;
    transition: color 0.9s ease, transform 0.3s ease;
}
.box-menu li:hover a {
    background: linear-gradient(to right, #4d4d4d, #000000 ,#000000,#4d4d4d); 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    
}

