.navigation-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.box-menu {
    display: flex;
    justify-content: center;
    width: 60%;
    padding-top: 2em;
}

.box-menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.box-menu li {
    font-weight: 600;
    font-size: clamp(1.4em, 2vw, 1.8em);
    position: relative;
    padding: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.box-menu a {
    text-decoration: none;
    color: #000;
    transition: color 0.9s ease, transform 0.3s ease;
}

.box-menu li:hover a {
    background: linear-gradient(to right, #4d4d4d, #000000 ,#000000,#4d4d4d); 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
}


@media (max-width: 650px) {
    .box-menu {
        width: 90%;
    }

    .box-menu ul {
        justify-content: space-around;
    }

    .box-menu li {
        font-size: clamp(16px, 3vw, 20px);
        padding: 0;
    }
}
