Footer {
    background-color: #000;
    text-align: center;

}

Footer h1 {
    /*font-size: clamp(16px, 2vw, 36px); /* Tamanho mínimo 16px, flexível até 36px */
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 10px 0;
    height: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
