/* Header CSS básico */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 10px 20px;
}

.user{
    color: #000;
}

.user:hover{
    color: #333;
}

.mini-bar {
    border: none;
    background-color: #FFF;
}

.mini-bar img {
    height: 25px;
    cursor: pointer;
}

.logo img {
    height: clamp(40px, 4vw, 60px);
}

.user-info {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
}

.username {
    cursor: pointer;
    margin-right: 10px;
}

.user img,
.sacola img {
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.logout-button {
    display: block;
    /* position: absolute; */
    /* top: 90%;
    left: -15%; */
    margin:0 0 0 10px;
    background-color: #f5f5f5;
    border: none;
    color: #000000;
    padding: 5px 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
}

.logout-button:hover {
    background-color: #e0e0e0;
}

.side-menu {
    width: 0;
    height: 100vh;
    background-color: rgba(5, 5, 5, 0.96);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(-290px);
    transition: transform 0.4s ease-in-out;
}

.side-menu.open {
    width: 290px;
    transform: translateX(0);
}

.close-icon {
    width: 30px;
    height: 30px;
    margin: 20px;
    cursor: pointer;
}

.menu-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 50px 0;
}

.menu-item {
    flex-grow: 1;
    margin: 20px;
    text-align: center;
}

.menu-item div {
    align-self: center;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
}

.side-menu-logout {
    background: black;
    color: rgb(255, 255, 255);
    border:none /*0.2px solid rgb(255, 255, 255)*/;
    border-radius: 4px;
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
    width: auto;
    text-align: center;
    transition: color 0.3s ease, transform 0.3s ease;
}

.side-menu-logout:hover {
    background-color: #333;
}

.menu-item hr {
    display: none;
}

/*-------------------------- Fim do CSS padrão ------------------------------*/

@media (min-width: 660px) {
    .logo img {
        margin-left: 35%;
    }

    .mini-bar {
        display: none;
    }
}

@media (max-width: 660px) {
    .user img,
    .sacola img,
    .logout-button,
    .username {
        display: none;
    }

    .side-menu-username {
        color: white;
        font-size: 18px;
        text-align: center;
        padding: 20px 0;
    }

    .menu-item hr {
        display: block;
        color: white;
        width: 70vw;
    }
}
