.navigation-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-menu ul {
    font-weight: 600;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-menu li {
    font-size: clamp(1.4em, 2vw, 1.8em);
}

.nav-menu a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-menu a:hover {
    background: linear-gradient(to right, #4d4d4d, #000000 ,#000000, #4d4d4d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 650px) {
    .nav-menu {
        display: none;
    }
}