.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.product-item {
  text-align: center;
  cursor: pointer;
  margin: 10px;
  flex-basis: calc(40% - 20px); /* Definindo a largura para 2 colunas */
}

.product-item img {
  width: 100%; /* A imagem ocupará a largura total do item */
  border-radius: 8px;
  transition: width 0.3s ease;
  cursor: pointer;
}

@media (min-width: 768px) { 
  .product-item {
    flex-basis: calc(25% - 20px); /* Ajuste para 4 colunas em telas maiores */
  }

  .product-item img {
    width: 100%; /* Ajuste para ocupar a largura total no tamanho maior */
  }
}

