.footer-content {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 200px;
}

.footer-socials {
    display: flex;
    justify-content: space-between;
    width: 140px;
}

.social-icon {
    width: 32px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.7));
}

.footer-description {
    max-width: 610px;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px 40px;
}

.footer-description p {
    text-align: justify;
}

@media (min-width: 660px) {
    .footerProd {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

@media (max-width: 660px) {
    .footer-description {
        width: 90%;
        font-size: 12px;
        line-height: 1.2;
        margin: 10px 0px 55px 0px;
    }

    .footer-description p {
        text-align: center;
    }

    .footer-logo img {
        width: 100px;
    }

    .footer-socials {
        height: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .social-icon {
        width: 24px;
    }
}